body{
	font-family: Tahoma;
	font-size: 9pt;
	background-repeat:repeat-xy;
	margin:0 auto;
  background-color:#0d0d0d;
  color:#FFFFFF;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
#login_frm{
	border:1px solid #fff;
	width:200px;
	position:relative;
	margin:0 auto;
	padding:20px;
	margin-bottom:30px;
	margin-top:60px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 4px 1px #fff;
	-webkit-box-shadow: 0 4px 1px #fff;
	box-shadow: 0 4px 1px #fff;
	background-color:#0d0d0d;
}
#header {
	position: relative;
	width: 1000px;
	height:35px;
	margin:0 auto;
}
#header .head{
	color:#000;
	text-align:left;
	margin-left:40px;
}
#content {
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin:0 auto;
	overflow:auto;
	width:auto;
	position:relative;
}
#content p {
	color:#fff;
	line-height: 1.8em;
	padding-left: 2em;
}
.tbcontent{
	text-align:justify;
	font-family: Tahoma; 
	font-size: 8pt;
	color:#fff;
}
.tbcontent td{
	padding-left:6px;
	padding-right:6px;
}
a:link,a:visited {
  color:#388dc9;
  text-decoration:none;
}
a:hover {
	color: #388dc9;
	text-decoration:none;
}
h2 {   
  text-align: center; 
	font: normal 120% Georgia;
	line-height: 200%;
	color:#fff;
	background-color: transparent;
	border-bottom: 1px dotted #000000;
}
.xx{
	border: 5px outset #c0c0c0;
	padding:10px;
	text-align: justify;
	margin: 0 auto;
	font-family: Tahoma;
	font-size: 8pt;
	color:#fff;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
    -webkit-box-shadow: 0 10px 25px rgba(255, 255, 255, 1.0);
    -moz-box-shadow: 0 10px 25px rgba(255, 255, 255, 1.0);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 1.0);
	margin-bottom:30px;
}
.xx tr{
	padding:5px;
	vertical-align: top;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 8pt;
}
textarea{
	width: 200px;
	resize:none;
	height: 50px;
}
#paging{
	font-family: Tahoma; 
	font-size: 8pt;
	color:#fff;
}
#footer{
  clear :both;
	padding-top: 10px;
	font-family: Tahoma; 
	font-size: 8pt;
	color: #FFFFFF;
	text-align:center;
	padding-bottom: 10px;
}
/* Menu */
/* Main */
#menu{
	width: 100%;
	margin: 0;
	margin-top:20px;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

#kembali{
	z-index:2;
	position:fixed;
	float:right;
	color:black;
	right:2px;
	top:-2px;
	padding:2px;
	text-align:center;
	background:#ccc;
	-moz-border-bottom-left-radius: 15px;
	-o-border-bottom-left-radius: 15px;
	-webkit-bottom-left-border-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-o-border-bottom-right-radius: 15px;
	-webkit-bottom-right-border-radius: 15px;
	border-bottom-right-radius: 15px;
    border-bottom: 8px solid #444;
}