body{
	font-family: Tahoma;
  text-align: center; 
  background-image: url(images/galaxy.jpg);
	background-repeat:repeat-y;
	color:#fff;
}
#sambutan
{
	float:right;
	z-index:5px;
	top:0px;
	right:0;
	width:100px;
	height:50px;
	position:absolute;
}
#nanami
{
	float:right;
	z-index:2px;
	position:absolute;
	top:-20px;
	right:0;
	background-image: url(images/nanamisit.png);
	background-repeat: no-repeat;
	width:320px;
	height:320px;
}

#header {
	position: relative;
	//background-image: url(images/header.jpg);
	background-image: url(images/d-sign.png);
	background-repeat: no-repeat;
	width: auto;
	border: 2px solid #FFFFFF;
	padding-top: 70px;
	text-align: left;
}

#content {
	margin-left: 250px;
	padding: 20px 10px 0 0;
}
#content p {
	font-size: 75%;
	line-height: 1.8em;
	padding-left: 2em;
}
#menu {
  position: relative;
  float: left;
	top: 37px;
	left: 0;
	width: 180px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#menu li {
	width: 180px;
	border-bottom: 1px solid #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 80%;
	vertical-align: bottom; 
}
#menu a:link, #menu a:visited {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 12px solid #000;
	border-right: 1px solid #FFFFFF;
	background-color: #000;
	color: #FFF;
	text-decoration: none;
}
#menu a:hover {
	background-color: #000000;
	color: #FFF;
}

a:link,a:visited {
  color:#FFF;
}
a:hover {
	color: #FFF;
	text-decoration:none;
}
h2 {   
	font: normal 120% Georgia;
	line-height: 200%;
	color: #FFFFFF;
	background-color: transparent;
	border-bottom: 1px dotted #FFFFFF;
}
table {
	font-family: Tahoma; 
	font-size: 8pt;
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	margin: 10px 0px;
}
th{
	color: #FFFFFF;
	font-size: 7pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	background-color: #000000;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 8pt;
}
#paging{
	font-family: Tahoma; 
	font-size: 8pt; 
}
#footer{
  clear :both;
	padding: 20px 0 10px 400px;
	font-size: 70%;
	color: #FFFFFF;
}